<!-- 
  Copyright 2007 Last.fm
 
   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at
 
       http://www.apache.org/licenses/LICENSE-2.0
 
   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
 -->
<ivysettings>
	
	<typedef name="svn" classname="fm.last.ivy.plugins.svnresolver.SvnResolver"/>
	
	<resolvers>
    <!-- If you want to specify a base repository url you can add the following attribute below:
      
         repositoryURL="svn+ssh://HOSTNAME/PATH_TO_BASE_OF_IVY_REPOSITORY"
      
        if you omit this then the base repository url is assumed to be the path up to the first "/" in 
        "PATH_TO_YOUR_IVY_REPOSITORY" below.
    -->
	<svn name="ivysvn" username="${svn.user.name}" userpassword="${svn.user.password}"
      keyfile="${ssh.keyfile}" port="${ssh.port}" passphrase="${ssh.keyfile.passphrase}"
      certfile="${ssl.certfile}" storageallowed="${svn.storageallowed}">
			<ivy pattern="svn+ssh://HOSTNAME/PATH_TO_YOUR_IVY_REPOSITORY/[organisation]/[module]/[revision]/ivy.xml"/>
			<artifact pattern="svn+ssh://HOSTNAME/PATH_TO_YOUR_IVY_REPOSITORY/[organisation]/[module]/[revision]/[artifact].[ext]"/>
		</svn>
	</resolvers>

	<settings defaultResolver="ivysvn" />
	
	<modules>
		<module organisation="YOUR_ORGANISATION" name="ivysvnresolver" resolver="ivysvn"/>
	</modules>
	
</ivysettings>